In [1]:
import pandas as pd

df = pd.read_csv('/home/safwan/Documents/projects/python/Data Analysis/pandas/data/stock_data.csv')
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [2]:
# Skip rows
df = pd.read_csv('/home/safwan/Documents/projects/python/Data Analysis/pandas/data/stock_data.csv', skiprows=1)
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [3]:
df = pd.read_csv('/home/safwan/Documents/projects/python/Data Analysis/pandas/data/stock_data.csv', header=1)
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [4]:
# Import data with null header
df = pd.read_csv('/home/safwan/Documents/projects/python/Data Analysis/pandas/data/stock_data.csv', header=None, names=['tickets','eps','revenue','price','people'])
df

   tickets            eps  revenue  price         people
0  tickers            eps  revenue  price         people
1    GOOGL          27.82       87    845     larry page
2      WMT           4.61      484     65           n.a.
3     MSFT             -1       85     64     bill gates
4     RIL   not available       50   1023  mukesh ambani
5     TATA            5.6       -1   n.a.     ratan tata

In [5]:
# Limit value
df = pd.read_csv('/home/safwan/Documents/projects/python/Data Analysis/pandas/data/stock_data.csv', nrows=2)
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.

In [6]:
# Clean up
df = pd.read_csv('/home/safwan/Documents/projects/python/Data Analysis/pandas/data/stock_data.csv', na_values=['not available', 'n.a.'])
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [7]:
# With dict
df = pd.read_csv('/home/safwan/Documents/projects/python/Data Analysis/pandas/data/stock_data.csv', na_values={
    'eps': ['not available', 'n.a.'],
    'revenue': ['not available', 'n.a.', '-1'],
    'price': ['not available', 'n.a.']
})
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0           n.a.
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [ ]:
# Write csv
df.to_csv('data/new_data.csv')

In [ ]:
# Remove index
df.to_csv('data/new_data.csv', index=False)

In [ ]:
# Remove Header
df.to_csv('data/new_data.csv', header=False)

In [ ]:
#Limit data to csc
df.to_csv('data/new_data.csv', columns=['tickers','eps'],index=False)

In [9]:
#############EXCEL####################
# Read
df = pd.read_excel('/home/safwan/Documents/projects/python/Data Analysis/pandas/data/stock_data.xlsx')
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [10]:
#Convert data

def people_cell_convert(cell):
    if cell == 'n.a.':
        return 'haty'
    return cell

def price_cell_convert(cell):
    if cell == 'n.a.':
        return 50
    return cell

df = pd.read_excel('/home/safwan/Documents/projects/python/Data Analysis/pandas/data/stock_data.xlsx',converters={
    'people': people_cell_convert,
    'price': price_cell_convert
})
df

  tickers            eps  revenue  price         people
0   GOOGL          27.82       87    845     larry page
1     WMT           4.61      484     65           haty
2    MSFT             -1       85     64     bill gates
3    RIL   not available       50   1023  mukesh ambani
4    TATA            5.6       -1     50     ratan tata

In [ ]:
df.to_excel('data/new_data.xlsx', sheet_name='stocks')

In [ ]:
df.to_excel('data/new_data.xlsx', sheet_name='stocks',startrow=1,startcol=2)

In [ ]:
# Remove index
df.to_excel('data/new_data.xlsx', sheet_name='stocks', index=False)

In [ ]:
# Write two dataframes to two separate sheets in excel

df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

with pd.ExcelWriter('stock_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name='stocks')
    df_weather.to_excel(writer, sheet_name='weather')